target/
!.mvn/wrapper/maven-wrapper.jar

/.apt_generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


\.DS_Store

\.idea/

target/

*.iml

\.settings/

\.classpath

\.factorypath

\.project